
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  //style

  .swiper-button-next {
    width: 48px !important;
    height: 48px !important;
    right: 20px !important;
    border-radius: 50%;
    border: 1px solid #ececec !important;
    background-color: white;

    &::after {
      font-size: 18px !important;
      color: black !important;
    }
  }

